@import "../../style/helpers";

.memberImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.memberInfo {
  color: @white;
  margin-top: 15px;

  a {
    color: @noders;
  }
}

.section {
  background-color: @dark;
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.organizersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.organizer {
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;

}
@media only screen and (min-width: 993px){
  .organizer{
    width: 20%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .memberImage {
    width: 100px;
    height: 100px;
  }
}
