@import '~style/helpers';

.memberImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.memberInfo {
  color: @white;
  margin-top: 15px;

  a {
    color: @noders
  }
}

.section {
  background-color: @dark
}
