@import '~style/helpers';

.eventsSection {
  padding: 30px 0 30px;
  background-color: @dark
}

.eventsTitle {
  h1 {
    color: @white;
    margin-left: 20px;
  }
}

.eventImage {
  display: block;
  position: relative;
  width: 256px;
  height: 256px;
}

.centerContent {
  text-align: center;
}

.eventLoopLogo {
  margin-top: 30px;
}
