@import "../../style/helpers";

.eventImage {
  display: block;
  position: relative;
  img{
    width: 85%;
  }
}
.eventContainer{
  width: 20%;
}
@media screen and (max-width: 768px){
  .eventImage{
    img{
      width: 70%;
    }
  }
  .events{
    display: flex;
    flex-wrap: wrap;
  }
  .eventContainer{
    width: 50%;
  }
}