@import "../../style/helpers";
@import "./hexagon";

.container {
  padding: 1em;
}
.flexContainer {
  display: flex;
  flex-direction: column;
}
.nodersRow {
  display: flex;
  flex: 1;
  justify-content: flex-center;
  margin-top: -30px;
}
.isLastRowEven {
  padding-right: 100px;
}
@media (max-width: 768px) {
  .nodersRow {
    margin-top: -23px;
  }
  .isLastRowEven {
    padding-right: 80px;
  }
}
@media (max-width: 425px) {
  .nodersRow {
    margin-top: -18px;
  }
  .isLastRowEven {
    padding-right: 60px;
  }
}
