@import '~style/helpers';

.fullHeight {
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background {
	background: @noders url(../../assets/noders/bg3-min.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	filter: hue-rotate(-10deg) grayscale(60%);
	&:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.3);
    transition: all 1s;
	}
}

.content {
	opacity: 0;
	padding: 1em;
	z-index: 1;
	transition: all 1750ms;
	img {
		max-width: 100%;
	}
	h1 {
		color: white;	
		text-align: center;
		font-size: 2em;
	}
	&.showable {
		opacity: 1;
	}
}

.mainOverlay {
  background-color: @dark;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.nodersLogo {
  z-index: 20;
}

.mainButtonCta {
  margin-top: 30px;
  background-color: #82CD27 !important;
  &:hover {
    background-color: #73b71f !important;
  }
}
