@import '~style/helpers';

.title {
  padding-top: 1em;
  padding-bottom: 3em;
  h1 {
    color: @white;
    font-size: 1.9em;
    padding-left: 1em;
  }
}

.imageBackground {
  padding: 1em;
}

.image {}

.imageTitle {
  color: @white;
  padding-top: 1em;
  font-size: 1.3em;
}

.section {
  background-color: @dark
}
