@import '~style/helpers';

.footerSection {
  background: @dark;
}

.social {
  margin-top: 1.5em;
}
.disclaimer {
  padding-bottom: 1em;
  color: @white;
  a {
    color: @noders;
  }
}
.iconAnchor {
  margin: 1em;
  color: @noders;
  & .iconFont {
    font-size: 2em;
  }
}
