@import "../../style/helpers";

.cocIcon {
  color: @noders;
  font-size: 96px;
  display: inline;
}

.cocContent {
  color: @white;
  a {
    color: @noders;
  }
}

.cocText {
  padding-top: 30px;
}

.section {
  background-color: @dark;
}
